@page "/game"
<link href="/css/styles/styles.css" rel="stylesheet" />
@inject HttpClient Http
@using HamsterWars.Shared
@using Services
@using Egame = HamsterWars.Shared.Game

<PageTitle>Hamster Wars - Game</PageTitle>


@if (game is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Which one is cutest?</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light">
                    <img class="card-img-top game-image" src="/images/hamsters/@game.First.ImageName" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title text-center">@game.First.Name</h4>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Age:<span>@game.First.Age</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Favourite Food:<span>@game.First.FavouriteFood</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Loves:<span>@game.First.Loves</span>
                            </li>
                        </ul>
                        <br />
                        <div>
                            <button type="button" class="btn btn-primary" @onclick="() => GameResult(game.First.Id)">Vote</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <img class="card-img" src="images/duel_swords.png" alt="vs">
            </div>

            <div class="col-md-4">
                <div class="card bg-light">
                    <img class="card-img-top game-image" src="/images/hamsters/@game.Second.ImageName" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title text-center">@game.Second.Name</h4>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Age:<span>@game.Second.Age</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Favourite Food:<span>@game.Second.FavouriteFood</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Loves:<span>@game.Second.Loves</span>
                            </li>
                        </ul>
                        <br />
                        <div>
                            <button type="button" class="btn btn-primary" @onclick="() => GameResult(game.Second.Id), Result">Vote</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private Egame? game;
    private Hamster? Winner { get; set; }
    private Hamster? Loser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        game = await Http.GetFromJsonAsync<Egame>("/api/Game/CreateGame");
    }

    private async Task GameResult(int id)
    {
        await Http.PutAsJsonAsync<Egame>($"api/Game/Play{id}", game);

        await OnInitializedAsync();
    }

    private void Result(Hamster winner)
    {
        Winner = winner;

        if (game.First == Winner)
        {
            Loser = game.Second;
        }
        else
        {
            Loser = game.First;
        }
    }
}
